{% extends "layout.html" %}

{% block body %}
<h3> Hakkımda </h3>
<hr>
<p > Merhaba ben Cem Bora AKINCI. 2016 Afyon Kocatepe Üniversitesi Fizyoterapi ve Rehabilitasyon Bölümü'nden mezun oldum. Ardından Manisa'da özel bir kurumda 2 yıl fizyoterapist olarak görev aldım. Bu süreç zarfında Dokuz Eylül Üniversitesi Kardiyopulmoner Fizyoterapi Bölümü'nde tezli yüksek lisansımı tamamladım. Ardından 2019 yılında Gençlik ve Spor Bakanlığı bünyesinde Samsun ilinde Spor Fizyoterapisti olarak iki yıl Ümit Judo Milli Takımı'nda görev aldım. Şu anda Batman'da GSB bünyesinde Spor Fizyoterapisti olarak çalışmaya devam etmekteyim. Hobi olarak yazılım sektörüyle uğraşıyorum.</p>
<hr>



{% endblock body %}